.DS_Store
debug.png
leader.png
output.png
rooms.png
text.png
*.log
*.pot
*.pyc
*/*/*/__pycache__/
*/*/__pycache__/
*/__pycache__/
results/*.png
.vscode/*
node_modules/*
debug*
output.png
rooms.png
text.png
defects.png
no_text.png
leader.png
results/*.png
*.pyc
.vscode/
Floorplans/
colored/
preprocessed/
shrunk/
