* {
  border: none;
  padding: none;
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}

.App {
  text-align: center;
  height: 100%;
  width: 100%;
  background-image: url(../images/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-origin: center;
}

div#AppBackground {
  position: fixed;
}

/*********************************************************/
/******************** Heading with name ******************/
/*********************************************************/

#header {
  display: inline-block;
  background: #007bff;
  width: 100%;
  height: 7vh;
  color: #eeeeee;
}

#header a {
  text-decoration: none;
}

#header p {
  font-weight: bold;
  letter-spacing: 0.05vw;
  padding-left: 0.25vw;
  font-size: 1vw;
  float:left;
  color: #eee;

  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
}

#headerImg {
  float:left;
  padding-top: 1.5vh;
  padding-left: 3%;
  width: 1.8vw;
  height: auto;
}

div#tabs {
  float: right;
  padding-top: 0.6vh;
}

/*********************************************************/
/******************** Search bar (temp) ******************/
/*********************************************************/
#formBlock {
  margin: 0.5vh 1vw 2vh 1vw;
  width: 100%;
}

form {
  width: 96%;
  text-align: center;


  position: block;
	display: flex;
  flex-direction: row;
	flex-grow: 1;
	border: 0.1vw solid #ccc;
	background-color: rgba(255,255,255,0.9);
	padding: 1vh 0.8vw 1vh 1vw;
	font-size: 1vw;
}

form#searchForm div {
  margin-top: auto;
  margin-bottom: auto;
  display: inline-block;
  width: 50%;
  float:left;
}

.downshift-options {
  border: 1px solid #ddd;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}
.downshift-options > div {
  padding: 3px 5px;
}

/*********************************************************/
/********************** Submit button ********************/
/*********************************************************/

button#submitButton {
  width: 3%;
  padding: 0.6vw 1.5vw 0.6vw 0.9vw;
  border-radius: 0.5vw;
  background: #ddd;
  border: 0.1vw solid #ccc;
  font-size: 1vw;
  cursor: pointer;
  float: right;
}

button#submitButton:hover {
  background: #ccc;
}

button#submitButton:focus {
  outline: 0;
}

button#submitButton:active {
  background: #bbb;
}

/*********************************************************/
/****************** Change floor buttons *****************/
/***************** Right side of content *****************/
/***************** Display panel bottom R ****************/
/*********************************************************/

/* Style the list of buttons for changing floors */
ul#roomButtons {
  display: inline-block;
  list-style: none !important;
  overflow: scroll;
}

ul#roomButtons input {
  margin: 0.05vw 0vw;
  color: white;
  padding: 0.5vw 1vw;
  text-align: left;
  display: inline-block;
  font-size: 1vw;
}

div#rightContent {
  display: table;
  margin: 0 auto;
  width: 18%;
  height: 77%;
  position: absolute;
  right: 1%;
  top: 18%;
  text-align: center;
}

/* Label on the top for the floor identification */
div#floorLabel {
  width: 100%;
  position: relative;
  color: #007bff;
  line-height: 0.25vw;
  display: block;
  border-radius: 1vw;
  border: 0.1vw solid #000;
  background-color: #D0DFDF;
}

.centerLabel {
  position: absolute;
  bottom: 10%;
  right: 20%;
}

p#floorBuildingName {
  font-size: 1vw;
  line-height: 0.1vw;
  font-weight: bold;
  word-wrap: break-word;
  display: block;
}

p#floorNumberName {
  font-size: 1vw;
  font-weight: bold;
  display: block;
}

/* Style the list of buttons for changing floors */
ul#floorButtons {
  width: 80%;
  display: inline-block;
  list-style: none !important;
  overflow: scroll;
}

ul#floorButtons li {
  margin-left: -12%;
}

ul#floorButtons input {
  width: 70%;
  background-color: #ffa500;
  margin: 0.05vw 0vw;
  color: white;
  padding: 0.5vw 1vw;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  font-size: 1vw;
  border-radius: 1.3vw;
  border: 0.1vw solid #ffc860;
}

ul#floorButtons li.backToMap input {
  color: #007bff;
  margin-bottom: 0.5vw;
}

ul#floorButtons input:hover {
  background: #ffae10;
}

ul#floorButtons input:focus {
  outline:0;
}

ul#floorButtons input:active {
  background: #ffb732;
}

/* Display information about the room selected */
div#roomInfo {
  width: 100%;
  height: 35%;
  background-color: #D0DFDF;
  top-margin: 0.5vw;
  position: absolute;
  bottom: 0%;
  overflow: auto;
  border-radius: 0.5vw;
  border: 0.1vw solid #000;
  text-align: left; 
}

div#buildingInfo {
  width: 100%;
  height: 60%;
  background-color: #D0DFDF;
  margin-top: 0.5vw;
  position: absolute;
  bottom: 0%;
  overflow: auto;
  border-radius: 0.5vw;
  border: 0.1vw solid #000;
  text-align: left; 
}

div#roomNotClicked {
  font-size: 1vw;
  margin-top: 10%;
  text-align: center;
}

div#legendDiv {
  padding-left: 1vw;
  font-size: 0.9vw;
}

div#roomClicked {
  margin-top: 0.5vw;
  text-align: center;
}

div#roomClicked h4 {
  font-size: 1vw;
  word-wrap: break-word;
  line-height: 0.8vw;
}
div#roomClicked h5 {
  font-size: 0.95vw;
  line-height: 0.8vw;
}

div#roomClicked ul {
  margin-top: 0.2vw;
  width: 80%;
  list-style: none !important;
}

li.roomContent {
  width: 100%;
  display: block;
  text-align: left;
  margin-left: -5%;
  font-size: 0.9vw;
  line-height: 0.7vw;
}

div#loading {
  position: absolute;
  top: 50%;
  left: 49%;
  z-index: 5000;
}

button#heartButton {
  position: absolute;
  top: 23%;
  left: 12%;

  background-color: Transparent;
  cursor: pointer;
  border: none;
  overflow: hidden;
  outline: none;
}

/* Always show scroll bar -- indicate what is scrollable */
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 0.5vw;
}

::-webkit-scrollbar-thumb {
    border-radius: 0.35vw;
    background-color: rgba(50,50,50,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

::-webkit-scrollbar-corner { 
  background: rgba(0,0,0,0); 
}

/*********************************************************/
/***************** Page not Found Styles *****************/
/*********************************************************/

img#brokenDoor {
  float: left;
  padding-left: 20%;
}

div#pageNotFound {
  background-color: #ADD8E6;
  opacity: 0.9;
  width: 30%;
  height: 30%;
  float: right;
  margin-top: 10%;
  margin-right: 15%;
}

/*********************************************************/
/******************* About Page Styling ******************/
/*********************************************************/

/* Entire div: divided into header and content of top section
and header and content (and images) of bottom section. In total
there are two sections. */
div#aboutDiv {
  margin-top: 2vh;
}

/* The top section div */
div#aboutInfoDiv {
  background-color: rgba(173, 216, 230, 0.85);
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 2vh 0vh;
}

div#aboutInfoDiv p {
  font-size: 1vw;
}

/* header for both sections */
div#aboutDiv h1 {
  font-size: 2vw;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: #F0F0F0;
  text-shadow: 0.1vw 0.1vw 0 #000;
  margin-top: 1vh;
  margin-bottom: 2.5vh;
  padding-bottom: 1vh;
}

/* header of the second section */
h1#aboutSquad {
  font-size: 2vw;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 1vh 0vh;
  margin-bottom: 1vh;
}

/* Entire second section content styling */
div#squadImages {
  background-color: rgba(173, 216, 230, 0.85);
  display: inline-block;
  margin-top: 2vh;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1vh;
}

/* Each of the members get their own sections */
div.squad {
  float: left;
  width: 25%;
}

/* Customize the content of team profile under images */
div.squadInfoB, div.squadInfoO {
  padding: 0.5vh 0vh;
  width: 90%;
  opacity: 1;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1vh;
  padding-top: 2vh;
  color: white;
  border-radius: 10%;
}

div.squadInfoB {
  background-color: rgba(0, 123, 255, 1);
}

div.squadInfoO {
  background-color: rgba(255, 165, 0, 1);
}

/* Image of the teammates styled to be rounded */
img.picSquad {
  width: 50%;
  border-radius: 50%;
}

/* Make the name bolded, so a little bigger */
div.squad p.nameBigger {
  font-size: 1.15vw;
}

/* Make majors italics */
div.squad p.majorItalics {
  font-style: italic;
}

/* make all other normal text be a default size of 1vw */
div.squad p.normalFont {
  font-size: 1vw;
}

/*********************************************************/
/******************* Left side content *******************/
/*********************************************************/

/* Style the left side (generally) */
div#leftContent {
  display: table;
  height: 77%;
  position: absolute;
  left: 1%;
  top: 18%;
  text-align: center;
  background-color: #D0DFDF;
  overflow-y: scroll;
  float: left;
  width: 18%;
}

/* Style the list of buttons for favorites */
ul#favoriteButtons, ul#roomSearchButtons {
  width: 100%;
  display: inline-block;
  margin: 0vw;
  list-style: none !important;
  overflow: scroll;
}

ul#roomSearchButtons {
  width: 80%;
  height: auto;
  max-height: 65vh;
}

ul#favoriteButtons li {
  margin: 0vw;
  margin-left: -12%;
  height: 2.3vw;
}

ul#roomSearchButtons li {
  width: 100%;
  margin: 0vw;
  margin-left: -8%;
  height: 2.3vw;
}

ul#favoriteButtons input, ul#roomSearchButtons input {
  width: 75%;
  background-color: #ffa500;
  margin: 0vw;
  padding: 0.5vw 1vw;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  font-size: 0.8vw;
}

ul#roomSearchButtons input {
  width: 100%;

}

ul#favoriteButtons input {
  color: #007bff;
}

ul#roomSearchButtons input {
  color: white;
}

ul#favoriteButtons input:hover, ul#roomSearchButtons input:hover {
  background: #ffae10;
}

ul#favoriteButtons input:focus, ul#roomSearchButtons input:focus {
  outline:0;
}

ul#favoriteButtons input:active, ul#roomSearchButtons input:active {
  background: #ffb732;
}



