* {
  border: none;
  padding: none;
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}

.App {
  text-align: center;
}

/*********************************************************/
/******************** Heading with name ******************/
/*********************************************************/

#header {
  display: inline-block;
  background: #3299FF;
  width: 100%;
  height: 60px;
  color: #000;
}

#header p {
  font-weight: bold;
  letter-spacing: 1.5px;
  padding-left: 5px;
  font-size: 20px;
  float:left;
}

#headerImg {
  float:left;
  padding-top: 15px;
  padding-left: 3%;
  width: 30px;
  height: auto;
}

#formBlock {
  margin: 20px 10px 10px 20px;
}

/*********************************************************/
/******************** Search bar (temp) ******************/
/*********************************************************/
input[type=text] {
    width: 70%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: white;
    background-repeat: no-repeat;
    padding: 12px 15px 12px 15px;
    font-size: 16px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
    width: 90%;
    outline: 0;
}

/*********************************************************/
/********************** Submit button ********************/
/*********************************************************/

button#submitButton {
  width: 3%;
  padding: 12px 30px 12px 15px;
  background: #ddd;
  border: 2px solid #ccc;
  font-size: 16px;
  cursor: pointer;
}

button#submitButton:hover {
  background: #ccc;
}

button#submitButton:focus {
  outline: 0;
}

button#submitButton:active {
  background: #bbb;
}

/*********************************************************/
/****************** Change floor buttons *****************/
/***************** Right side of content *****************/
/***************** Display panel bottom R ****************/
/*********************************************************/

div#rightContent {
  display: table;
  margin: 0 auto;
  width: 15%;
  height: 75%;
  position: absolute;
  right: 3%;
  top: 20%;
  text-align: center;
}

/* Label on the top for the floor identification */
div#floorLabel {
  position: relative;
  color: #3299FF;
  line-height: 5px;
}

.centerLabel {
  position: absolute;
  bottom: 10%;
  right: 20%;
}

/* Style the list of buttons for changing floors */
ul#floorButtons {
  width: 80%;
  display: inline-block;
  margin-left: -15%;
  list-style: none !important;
}


ul#floorButtons input {
  width: 100%;
  background-color: #ffb732;
  border: 1px solid white;
  color: white;
  padding: 10px 30px;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  border-radius: 20px;
}

ul#floorButtons input:hover {
  background: #ffae10;
}

ul#floorButtons input:focus {
  outline:0;
}

ul#floorButtons input:active {
  background: #ffa500;
}

/* Display information about the room selected */
div#roomInfo {
  width: 100%;
  height: 35%;
  background-color: #D0DFDF;
  margin: auto;
  top-margin: 20px;
  position: absolute;
  bottom: 0%;
  overflow: auto;
}

div#roomNotClicked {
  margin-top: 30%;
}

div#roomClicked {
  line-height: 0.5px;
}

div#roomClicked {
  margin-top: 10%;
}

p.roomContent {
  float: left;
  padding-left: 5px;
  margin-left: 5%;
  font-size: 14px;
}
